<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    {% load static %}
    <meta charset="utf-8">
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
    <title>بسیج دانشگاه صنعتی شریف</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <!--
    Nature Template
    https://templatemo.com/tm-398-nature
    -->
    <meta name="viewport" content="width=device-width">

    <!-- Google Web Font Embed -->
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,600,500,300,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="/static/templatemo_398_nature/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/templatemo_398_nature/css/templatemo_main.css">

    <style>
        #menu-list > li > a {
            padding-right: 10px
        }
    </style>

    <link rel="stylesheet" href="/static/fonts/fonts.css">

    <style>
        @font-face {
            font-family: 'B Titr';
            src: local('/static/fonts/BTitrBold.ttf'), url('/static/fonts/BTitrBold.ttf') format('truetype');
        }

        span, a, h1, h2, p, h3, h4, h5, h6, div, li {
            font-family: "B Titr";
        }

        #hour-counter, #day-counter, #minute-counter, #second-counter {
            background-color: rgba(201, 201, 201, 0.64);
            padding-right: 10px;
            padding-left: 10px;
            height: fit-content;
            border-radius: 10px;
        }

    </style>
</head>
<body>
<div id="main-wrapper">
    <!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a rel="nofollow"
                                                                                         href="http://browsehappy.com">upgrade
        your browser</a> or <a rel="nofollow" href="http://www.google.com/chromeframe/?redirect=true">activate Google
        Chrome Frame</a> to improve your experience.</p>
    <![endif]-->

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 affix text-center" style="z-index: 1;">
        <h1 class="templatemo-site-title">
            <a href="#" style="direction: rtl; text-align: right">
                <span id="day-counter">10</span>
                : <span id="hour-counter">6</span>
                : <span id="minute-counter">12</span>
                : <span id="second-counter">sa</span>
                <br>
                <span style="font-size: 20px">زمان باقی مانده تا آغاز همایش</span>
                <img src="/static/templatemo_398_nature/images/btn-menu.png" alt="main menu" id="m-btn"
                     class="pull-right visible-xs visible-sm">
            </a>
        </h1>

        <ul id="responsive" style="display:none" class="hidden-lg hidden-md"></ul><!-- /.responsive -->
    </div>

    <div class="menu visible-md visible-lg">
        <ul id="menu-list" style="direction: rtl; text-align: right">
            <li class="active home-menu"><a href="#home">خانه</a></li>
            <li class="about-menu"><a href="#about">توضیحات</a></li>
            <li class="services-menu"><a href="#services">ارتباط با ما</a></li>
        </ul>
    </div><!-- /.menu -->

    <div class="image-section">
        <div class="image-container">
            <img src="/static/bg/final(4.9Mb).jpg" id="home-img" class="main-img inactive" alt="Home">
            <img src="/static/bg/final(4.9Mb).jpg" id="about-img" class="inactive" alt="About">
            <img src="/static/bg/final(4.9Mb).jpg" id="services-img" class="inactive" alt="Services">
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-lg-offset-6 col-md-offset-6 templatemo-content-wrapper">
            <div class="templatemo-content">

                <section id="home-text" class="active templatemo-content-section">
                    <div class="col-sm-12 col-md-12 col-lg-12" style="direction: rtl; text-align: right">
                        <h2>به سایت بسیج دانشجویی دانشگاه صنعتی شریف خوش آمدید.</h2>
                        <p>
                            در سالروز 22 بهمن سایت رو نمایی شسزئسیزسیز سزسزذسز سز سیزس
                        </p>
                    </div>
                </section><!-- /.home-text -->

                <section id="about-text" class="inactive">
                    <h2 class="text-center">توضیحات همایش</h2>
                    <div class="col-sm-6 col-md-6">
                        <p>In tellus ipsum, ullamcorper vitae justo sit amet, mattis consequat tortor. Pellentesque
                            rutrum, ligula vel fermentum imperdiet, lectus eros volutpat urna, id mollis dolor justo
                            vulputate justo ut sit amet ante luctus metus.</p>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <p>Suspendisse risus urna, posuere id orci ut, facilisis accumsan ipsum. Etiam sodales consequat
                            purus non vulputate. Aliquam erat volutpat. Sed vehicula lacinia porta. Vivamus faucibus dui
                            nulla, a aliquet nunc porta in.</p>
                    </div>
                </section><!-- /.about-text -->

                <section id="services-text" class="inactive">
                    <h2 class="text-center">Our Services</h2>
                    <div class="col-sm-4 col-md-4">
                        <h3>Marketing</h3>
                        <p>Fusce at accumsan elit. Sed ut urna pulvinar, ultricies orci eu, pretium lectus. Integer
                            vulputate lorem ac nisi eleifend, at egestas mauris eleifend.</p>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <h3>Public Relations</h3>
                        <p>Vivamus aliquam lectus non tortor pellentesque, sit amet ultricies ex rutrum. Nunc ut neque
                            sem. Proin fermentum libero ac vestibulum sollicitudin.</p>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <h3>Digital Media</h3>
                        <p>In tellus ipsum, ullamcorper vitae justo sit amet, mattis consequat tortor. Suspendisse risus
                            urna, posuere id orci ut, facilisis accumsan ipsum.</p>
                    </div>
                </section><!-- /.services-text -->


            </div><!-- /.templatemo-content -->
        </div><!-- /.templatemo-content-wrapper -->
    </div><!-- /.row -->
</div><!-- /#main-wrapper -->

<div id="preloader">
    <div id="status">&nbsp;</div>
</div><!-- /#preloader -->

<script src="/static/templatemo_398_nature/js/jquery.min.js"></script>
<script src="/static/templatemo_398_nature/js/jquery.backstretch.min.js"></script>
<script src="/static/templatemo_398_nature/js/templatemo_script.js"></script>
<!-- templatemo 398 nature -->
</body>
</html>

<script>
    var reminded_seconds = {{ reminded_seconds }};

    function update_reminded_time() {
        let to_minute = parseInt(reminded_seconds / 60);
        let second = reminded_seconds - 60 * to_minute;

        let to_hour = parseInt(to_minute / 60);
        let minute = to_minute - 60 * to_hour;

        let to_day = parseInt(to_hour / 24);
        let hour = to_hour - 24 * to_day;

        let day = to_day;

        $('#day-counter').text(day);
        $('#hour-counter').text(hour);
        $('#minute-counter').text(minute);
        $('#second-counter').text(second);

        console.log(reminded_seconds);
        reminded_seconds--;
    }

    var t = setInterval(update_reminded_time, 1000);

</script>